@model WebOS.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1> @Html.DisplayFor(model => model.Title)</h1>

<div>
   
    <hr />
    <dl class="row">
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
          @*  @Html.DisplayFor(model => model.Image)*@
            <img class="img-fluid center-block d-block mx-auto" width="300" src="/Images/@Model.Image"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishedAt)
        </dd>
     @*   <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">تحرير</a> |
    <a asp-action="Index">عرض جميع المدونات</a>
</div>
