@model IEnumerable<WebOS.Models.Fatwa>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ApplicationUser currentuser = await UserManager.GetUserAsync(User);
}
@{
    ViewData["Title"] = "Index";
}

<section class="m-0 p-0 ">
<h3 class="mt-2 text-center py-3">أرشيف الفتاوي في قسم @ViewData["Name"]</h3>


@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reads)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    <a asp-action="IndexByCategory" asp-controller="Fatwas" asp-route-id="@item.Category.Id">
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </a>
                </td>
                <td>
                    <a asp-action="IndexByScholars" asp-controller="Fatwas" asp-route-id="@item.Scholar.Id">
                        @Html.DisplayFor(modelItem => item.Scholar.Name)
                    </a>
                </td>
                <td>
                        <a asp-action="Details" asp-controller="Fatwas" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                        <a asp-action="Details" asp-controller="Fatwas" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Question)</a>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reads)
            </td>
                <td>
                    @if (SignInManager.IsSignedIn(User))
                    { 
                <a asp-action="Edit" asp-route-id="@item.Id">تحرير</a> 
                <a asp-action="Details" asp-route-id="@item.Id">تفاصيل</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
*@

@foreach (var item in Model){

<div class="IndexByCategory my-2 ">

<h5> <a asp-action="IndexByCategory" asp-controller="Fatwas" asp-route-id="@item.Category.Id">
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </a></h5>

                    <h6>الشيخ  <a asp-action="IndexByScholars" asp-controller="Fatwas" asp-route-id="@item.Scholar.Id">
                        @Html.DisplayFor(modelItem => item.Scholar.Name)
                    </a></h6>
                    <p>   <a asp-action="Details" asp-controller="Fatwas" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a></p>
                    <p class="ellipsis">
                    <a asp-action="Details" asp-controller="Fatwas" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Question)</a></p>

                    <div class="d-flex justify-content-end">
                    <div class="d-flex flex-column  w-25 text-center">
                    <span>
                     عدد القراء
                    </span>
                     @Html.DisplayFor(modelItem => item.Reads) 
                     </div>
                    </div >
                        @if (SignInManager.IsSignedIn(User))
                    { 
                        <div class="d-flex g-2">
                <a class="btn btn-success mx-1" asp-action="Edit" asp-route-id="@item.Id">تحرير</a> 
                <a class="btn btn-danger mx-1"  asp-action="Details" asp-route-id="@item.Id">تفاصيل</a> 
                <a class="btn btn-success"  asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                        </div>
                    }

</div>
}

</section>