@model IEnumerable<WebOS.Models.Fatwa>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ApplicationUser currentuser = await UserManager.GetUserAsync(User);
}
@{
    ViewData["Title"] = "الاقسام";
    ViewData["heading"] = "أقسام الرئيسية";
}

<div class="py-4">

<partial name="_Heading" view-data="@ViewData"/>
@if (SignInManager.IsSignedIn(User))    
{
    <p class="py-3 mt-2 " >
            <a asp-action="Create" class="Add"> قسم جديد <i class="fa-solid fa-plus mx-2"></i></a>
    </p>
}







    <div class="row row-cols-1 row-cols-md-3 py-3">
        @foreach (var item in ViewBag.Categories)
        {
            <div class="col  col-md-3 col-12 ">

                <div class="card-body categoryy">
                    <center><a asp-controller="Fatwas" asp-action="IndexByCategory" asp-route-id="@item.Id"><h6 class="card-title">@item.Name</h6></a></center>
                </div>
                @if (SignInManager.IsSignedIn(User))
{

                    <div class="catController ">
                    <a asp-action="Edit" asp-route-id="@item.Id">تحرير</a> <span>|</span>
                    <a  asp-action="Details" asp-route-id="@item.Id">تفاصيل</a> <span>|</span>
                    <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>

                </div>
}

                @*   <div class="card-footer">
            <small class="text-muted">عدد الفتاوى في القسم : 32</small>
            </div>*@

            </div>
        }
    </div>
</div>