@model IEnumerable<WebOS.Models.Scholar>

@{
    ViewData["Title"] = "Index";
}

<form>
    <p>
        <input type="text" name="keyword" width="500">
        <input type="submit" value="بحث" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositioName)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositioName)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">تحرير</a> |
                <a asp-action="Details" asp-route-id="@item.Id">التفاصيل</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">حذف</a> |
                   <a asp-action="IndexByScholars" asp-controller="Fatwas" asp-route-id="@item.Id">الفتاوى</a>
            </td>
        </tr>
}
    </tbody>
</table>
